<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

<!-- Title of Footer -->
    <h2 class="footer-heading">
	{{ site.title | escape }}
    </h2>

<!-- Subtitle -> Page description added -->
    <p align="center">
	<span class="post-meta"> {{- site.description | escape -}} </span>
    </p>

<!-- three columns of footer -->
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">

<!-- 1 mailto -->
        <p align="left"> <a class="u-email" href="mailto:{{ site.email }}">Kontakt</a> </p>
      </div>

<!-- 2 Impressum -->
      <div class="footer-col footer-col-2">
	<p align="center">
	  <a href= {{"impressum/"| relative_url }} > Impressum </a>
	</p>
      </div>
      
<!-- 3 Datenschutz -->
      <div class="footer-col footer-col-3">
	<p align="right">
	  <a href= {{"datenschutz/" | relative_url }} > Datenschutz </a>
	</p>
      </div>
    </div>

  </div>

</footer>
