<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<style>
.bgimage {
  /* The image used */
  background-image:  url("/images/white_net.png");
  /* Full height */
  width: 100%;
  /* Center and scale the image nicely */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

}
</style>

  {%- include head.html -%}

  <body>
    <div class="bgimage">
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
  
    </div>
  </body>

</html>
